body {
    background-color: #EEEEEE;
    color: #3C4858;
    font-weight: 300;
}

#body_wrap {
    display: flex;
    justify-content: center;
}

.wrapper {
    height: 100%;
    width: 1200px;
}

.board-logo h3 {
    /*padding: 50px 0 20px 360px;*/
    color: #8B425A;
    font-family: 'Jua', sans-serif;
    font-size: 35px;
    padding: 2% 0 0 10%;
    /*font-weight: 600;*/
}

.write-btn {
    background-color: ghostwhite;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: #8B425A;
    cursor: pointer;
    font-family: 'Jua', sans-serif;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 80px;
    float: right;
    margin-right: 140px;
}

.write-btn:hover {
    background-color: rgba(139, 66, 90, 0.75);
    box-shadow: 0px 15px 20px #B7B7B7;
    color: #FFFFFF;
    transform: translateY(-7px);
}

.card {
    border: none !important;
}

.card-body {
    margin: auto;
    width: 85%;
}

.table th {
    border-top: none !important;

}

.table thead th {
    font-weight: 600 !important;
}

/* pagination */
.pagination .page-item a {
    align-items: center !important;
    border: 1px solid #DEE2E6 !important;
    border-radius: 50% !important;
    box-shadow: 0 3px 5px -1px rgba(0 0 0 0.09), 0 2px 3px -1px rgba(0 0 0 0.07) !important;
    color: #8392AB !important;
    display: flex !important;
    font-size: 0.875rem !important;
    height: 36px !important;
    justify-content: center !important;
    margin: 0 3px !important;
    width: 36px !important;
}

.pagination a {
    border: 1px solid transparent !important;
    color: #333333 !important;
    margin-left: 2px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background: #8167A9 !important;
    border-color: #8167A9 !important;
    color: white !important;
    cursor: default !important;
}

.pagination {
    margin-top: 80px;
}
